@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.bodynon
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 15px;
    padding: 30px;
}

.card-container
{
    background-color: #7813787a;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #00000029;
    color: #FF325D;
    padding-top: 15px;
    position: relative;
    max-width: 400px;
    text-align: center;
}

.card-container .card-img
{
    margin: 0;
}

.card-container .card-img .round
{
    border: 1px solid #FF325D;
    border-radius: 50%;
    padding: 7px;
}

.card-container h3
{
margin: 10px 0;
}
.card-container h6 
{
    margin: 7px 0px;
    text-transform: uppercase;
}

.card-container .butoes
{
    margin-top: 10px;
}

.card-container .butoes .butao
{
    background-color: #f7d917;
    border: 1px solid #f7d917;
    outline: none;
    border-radius: 3px;
    color: #781378;
    font-weight: 500;
    padding: 10px 25px;
}
.card-container .butoes .butao-ghost
{
    background-color: transparent;
    color: #f7d917;
}

.card-container .hobbies
{
    background-color: #362a41;
    text-align: left;
    padding: 15px;
    margin-top: 15px;
}

.card-container .hobbies h4
{
    margin-bottom: 15px;
}

.card-container .hobbies .ulhob
{
    list-style: none;
}

.card-container .hobbies .ulhob .lihob
{
    border: 1px solid #b3b8cd;
    border-radius: 2px;
    display: block;
    font-size: 13px;
    margin: 0 7px 7px 0;
    padding: 7px;
    color:  #f7d917;
    font-family: 'Merriweather', serif;
}

.card-container .hobbies .midias-sociais
{
    text-align: center;
    margin-top: 20px;
}

.card-container .hobbies .midias-sociais a
{
    text-decoration: none;
    padding: 3px;
}


.card-container .hobbies .midias-sociais a img
{
    text-decoration: none;
    padding: 3px;
    transition: color .4s ease;
}

.card-container .hobbies .midias-sociais a:hover img
{
    opacity: 0.5;
    transition: 0.3s ;
}
