@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Toda a navbar e alguns recursos que implementam o body*/
*
{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    /*background-color: #24252a;*/
}

.about
{
    width: 100%;
    height: 100vh;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .conteinudo img
{
    height: auto;
    width: 600px;
    max-width: 100%;
}

.textosobre
{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.conteinudo
{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.textosobre .sobre
{
    color: #f7d917;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Anton', sans-serif;

}

.textosobre .titulosobre
{
    color: #781378;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.textosobre .psobre
{
    color: #FF325D;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    font-family: 'Merriweather', serif;
}

/* 'Merriweather', serif;
font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 @media screen and (max-width: 780px) {
    .textosobre .sobre {
        font-size: 10vw;
    }

    .textosobre .titulosobre {
        font-size: 4vw;
    }

    .textosobre .psobre {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    .textosobre .sobre {
        font-size: 12vw;
    }

    .textosobre .titulosobre {
        font-size: 5vw;
    }

    .textosobre .psobre {
        font-size: 4vw;
    }

    .conteudo {
        flex-direction: column;
        align-items: stretch;
    }

    .about .conteudo img {
        margin-top: 40px;
    }
}
